@import "../Header/Header.scss";

.sectionSkill {
  background: $background;
  font-family: $font-family;
  letter-spacing: 1.2px;
  padding-bottom: 3rem;

  .skill {
    max-width: 90rem;
    margin: auto;
    h3 {
      font-size: 3rem;
      text-align: center;
      color: $color-hover;
      margin: 0;
    }
    h4 {
      font-size: 2rem;
      margin: 0 0 1rem;
    }
    .desTitle {
      display: block;
      color: #fff;
      text-align: center;
      max-width: 55vw;
      margin: 2rem auto;
    }
    .skillBar {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      padding: 0 2rem;
      column-gap: 2rem;
      row-gap: 2rem;
      justify-content: center;
      transition: all 0.5s linear;
      .boxSkill {
        color: $color;
        display: flex;
        align-items: center;
        background: #181818;
        padding: 2rem 3.5rem;
        img {
          width: 8rem;
          object-fit: contain;
        }
        .skillText {
          margin-left: 2rem;
          p {
            font-size: medium;
          }
        }
      }
    }
  }
}
@media (max-width: 995px) {
  h3 {
    font-size: 2.5rem;
  }
  .sectionSkill {
    .skill {
      .desTitle {
        max-width: 80vw;
      }
      .skillBar {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
    }
  }
}
@media (max-width: 500px) {
  .sectionSkill {
    .skill {
      h3 {
        padding: 0 1.5rem;
        font-size: 2.2rem;
      }
      .desTitle {
        text-align: justify;
        max-width: 90vw;
      }
      .skillBar {
        padding: 0 1.5rem;
        .boxSkill {
          flex-direction: column;
          justify-content: center;
          text-align: center;
          h4 {
            font-size: 1.8rem;
          }
          .skillText {
            margin: 1rem 0 0;
            p {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
